# File konfigurasi Environment (Contoh)
# Copy file ini dan ubah namanya menjadi .env di dalam folder backend dan frontend
# atau sesuaikan URL jika di-deploy ke server online.

# =========== BACKEND ===========
# File: backend/.env
PORT=3001

# =========== FRONTEND ===========
# File: frontend/.env
# Ganti localhost dengan IP server/domain jika di-deploy ke production
VITE_API_URL=http://localhost:3001/api
